.alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.alert-box-t {
    display: grid;
    grid-template-columns: 60px 325px 600px 200px 60px 60px;
    grid-gap: 0px;
    grid-auto-rows: 100px 200px;
    border-bottom: solid 2px #484848;
    margin: 0 auto;
    height: 60px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.alert-box {
    display: grid;
    grid-template-columns: 60px 325px 600px 200px 60px 60px;
    grid-gap: 0px;
    grid-auto-rows: 100px 200px;
    
    transition-duration: 200ms;
    margin: 0 auto;
    height: 60px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.alert-box:hover {
    background-color: #484848;
    color: #fff;
    
}

.alert-icon {
    transition-duration: 200ms;
    color: #F05038;
}

.alert-icon:hover {
    cursor: pointer;
    color: #8d3021;
}


.alert-icon-t {
    transition-duration: 200ms;
    color: #2bb969;
}

.alert-icon-t:hover {
    cursor: pointer;
    color: #279e5a;
}