.password-title {
    font-family: Poppins, Rubik, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #484848;
    letter-spacing: -.6px;
    margin-bottom: 0px;
}

.password-description {
    margin-bottom: 35px;
}

.password-inputs {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 15px;
    height: 28px;
    width: 320px;
    border: 0;
    border-radius: 6px;
    padding: 12px 15px 10px;
    background-color: rgba(0,68,102,.06);
    transition: box-shadow .3s ease,background .3s ease;
    font-size: 13px;
    line-height: 18px;
    color: #475b6f;
    outline: none;
}

.input:hover {
    background-color: rgb(238, 238, 238);
}

.input:focus {
    outline:0;
    background-color:#fff;
    box-shadow:0 0 10px 0 rgba(0,49,59,.1),0 1px 3px 0 rgba(0,59,71,.2);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 28px;
    width: 320px;
    border: 0;
    border-radius: 6px;
    padding: 12px 15px 10px;
    background-color: #1d1d1d;
    transition: box-shadow .3s ease,background .3s ease;
    font-size: 13px;
    line-height: 25px;
    color: #475b6f;
    outline: none;
    transition-duration: 350ms;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0,68,102,.06);
    color: #1d1d1d;

}